/* Set default font at body level */
body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;

}

nav {
  /* Align text to the right for all nav content */
  	text-align: right;
    padding: 1.5em;
}

nav a {
  /* hyperlinks */
  font-size: 0.8em;
  padding: 1.3em;
  text-decoration: none;
}

nav a:hover{
  color: darkblue;
  text-decoration: none;
}

nav a.button {
  /* Blue background around the button hyperlink */
	background: #5badf0;
  color: #ffffff;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #5badf0;
}

a:hover{
  text-decoration: underline;
}

/* Brain is dead from here on */
/*examine at own risk */

section {
  max-width: 525px;
  margin: auto;
}

header {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-top: 4em;
  padding-bottom: 2em;
}

article{
  padding-top: 2em;
  padding-bottom: 3em;
}

img {
  display: inline-block;
  border-radius: 50%;
  margin: 0;
}

h1 {
  	font-size: 3em;
    font-weight: bold;
    color: 000000;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0.25em;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  color: #bbb;
  padding: 0;
  margin-bottom: 0.5em;
}

.text-red {
  font-size: 1em;
  font-weight: normal;
  color: red;
  padding: 0;
  display: inline;
}

h3 {
  font-size: 1.25em;
  color: #333;
  font-weight: 100;
  margin-bottom: 1em;
}

footer {
  text-align: left;
  border-top: 1px solid #eee;
  padding-top: 2em;
  padding-bottom: 1em;
}

h4 {
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: line-through;
  color: lightgrey;
}

td{
  vertical-align: top;
  text-align: left;
  padding-bottom: 2em;
}

th{
  vertical-align: top;
  text-align: left;
  padding-right: 2em;
}

p{
  line-height: 1.5em;
  color: black;
}
