/* Universal elements */
/* Not section dependant */

/* Brain is dead from here on */
/*examine at own risk */

body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;

}

img {
  border-radius: 50%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5badf0;
}

a:hover{
  text-decoration: underline;
}


h1 {
  	font-size: 3em;
    font-weight: bold;
    color: 000000;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0.25em;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  color: #bbb;
  padding: 0;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.25em;
  color: #333;
  font-weight: 100;
  margin-bottom: 1em;
}

h4 {
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: line-through;
  color: lightgrey;
}

p {
  line-height: 1.5em;
  color: black;
}


/* Navigation Content styles */

nav {
  	text-align: right;
    padding: 1.5em;
}

nav a {
  font-size: 0.8em;
  padding: 1.3em;
  text-decoration: none;
}

nav a:hover{
  color: darkblue;
  text-decoration: none;
}

nav a.button {
  /* Blue background around the button hyperlink */
	background: #5badf0;
  color: #ffffff;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  border-radius: 4px;
}

section {
  /* SETS MAX WIDTH FOR ALL BELOW NAV */
  max-width: 525px;
  margin: auto;
}

/* Header Styles */

header {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-top: 4em;
  padding-bottom: 2em;
}


/* Main content Articles */

article{
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: flex;
}

.article-image {
    padding-top: 1em;
}

.flex-content{
  padding-left: 2em;
}


.text-red {
  font-size: 1em;
  font-weight: normal;
  color: red;
  padding: 0;
  display: inline;
}

/* Footer styles */

footer {
  text-align: left;
  border-top: 1px solid #eee;
  padding-top: 2em;
  padding-bottom: 1em;
}
